/*
 1. 
https://www.youtube.com/watch?v=kfOe-F64C_A&list=PLM6XATa8CAG4F9nAIYNS5oAiPotxwLFIr&index=7
 Как создавать обнуляющий стиль

 
 2.
 https://www.youtube.com/watch?v=RQqzOTUa9Ig&list=PLM6XATa8CAG4F9nAIYNS5oAiPotxwLFIr&index=9

 Управление строчными-блочные элементами из CSS
 внутр отступ - padding
 внешние отступ -  margin
 ширина - width
 макс ширина - max-width
 минимальная ширина - min-witdth
 высота - height, max height
 Накладывание текста overflow, скрывание текста - hidden
 прокрутка scroll
 подключение прокрутки при большом тексте - auto 
 display:block,
 display:inline,
 display:none.
 
 3. Продолжение
 https://www.youtube.com/watch?v=G4aOu26s4_s&list=PLM6XATa8CAG4F9nAIYNS5oAiPotxwLFIr&index=10

 box-shadow: сдивг горизонт, сдвиг вертикали, радиус тени, расстояние тени, цвет
 */





 .input{
    border: 1px solid black;
    max-width: 25%;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 3px 3px;
    padding: 20px;
    opacity: 90%;
    display: inline-block;

 }